@model PropertyEditor.Models.Property

@{
    var title = "Edit property: \"" + Model.Name + "\"";
    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PerpetuumSoft.Knockout
           
@{
  var ko = Html.CreateKnockoutContext();
}

<h2>@title</h2>

<form id="EditForm" action="Edit" method="post">

    <input type="hidden" name="Name" value="@Model.Name" />

    <label for="Type">Type:</label>
    <select id="Type" name="Type">
        <option @((int)PropertyEditor.Models.property_type.integer_type == Model.Type ? "selected=\"selected\"" : "") value="@((int)PropertyEditor.Models.property_type.integer_type)">integer</option>
        <option @((int)PropertyEditor.Models.property_type.string_type == Model.Type ? "selected=\"selected\"" : "") value="@((int)PropertyEditor.Models.property_type.string_type)">string</option>
    </select> <br />

    <label for="Value">Value:</label><input id="Value" name="Value" type="text" value="@Model.Value" /> <br />

    <button id="EditFormSumbitButton" type="submit">Save</button>
</form>



<script type="text/javascript">
    $(document).ready(function () {

        $("#EditForm").validate({
            focusInvalid: false,
            focusCleanup: true,
            rules: {
                Name: {
                    required: true,
                    minlength: 2,
                    maxlength: 12
                },
                Value: {
                    required: true,
                    minlength: 2,
                    maxlength: 12
                }
            },
            messages: {
                Name: {
                    required: "Укажите название параметра!",
                    minlength: "Не менее 2 символов",
                    maxlength: "Не более 12 символов"
                },
                Value: {
                    required: "Укажите значение параметра!",
                    minlength: "Не менее 2 символов",
                    maxlength: "Не более 12 символов"
                }
            }
        });
    });
</script>
