@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PerpetuumSoft.Knockout
@model List<PropertyEditor.Models.Property>
           
@{
  var ko = Html.CreateKnockoutContext();
}
<!-- Page starts here -->

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@ko.Html.Span(item.Name)</td>
                <td>@{
                        var str = item.Type == (int)PropertyEditor.Models.property_type.string_type ? "\"" + item.Value + "\"" : item.Value;
                        @str
                    }
                </td>
                <td>
                    <form method="get" action="/PropertyEditor/EditPanel">
                        <input name="Name" type="hidden" value="@item.Name" />
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/PropertyEditor/Delete">
                        <input name="Name" type="hidden" value="@item.Name" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table> <br />

<button value="Add">@Html.ActionLink("Add", "AddPanel", "PropertyEditor")</button>

<div id="message-box"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var param = getURLParameter('status');
        $("#message-box").append(errorMessages4Status[param]);

        $("#message-box").fadeOut(2000);
    });
</script>

@ko.Apply(Model)