@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PerpetuumSoft.Knockout
@model List<PropertyEditor.Models.Property>
           
@{
    var ko = Html.CreateKnockoutContext();
}
<!-- Page starts here -->

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
            <th>
                <div class="button add-button" title="Add"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (PropertyEditor.Models.Property property in Model)
        {
            <tr class="editable">
                <td>@property.Name</td>
                <td>
                    @{
                        var valueStringified = (property.Type == (int)PropertyEditor.Models.property_type.string_type ? "\"" + property.Value + "\"" : property.Value);
                    }
                    <div>@valueStringified</div>
                </td>
                <td>
                    <div class="button delete-button" title="Delete"></div>
                </td>
                
                <td class="invisible-container property-name">@property.Name</td>
                <td class="invisible-container property-value">@property.Value</td>
                <td class="invisible-container property-type">@property.Type</td>
            </tr>
        }
    </tbody>
</table> <br />

<!--<button value="Add">
    <div id="add-button" class="button" title="Add property"></div>
    @@Html.ActionLink("Add", "AddPanel", "PropertyEditor")
</button>-->

<div id="message-box"></div>

<script src="@Url.Content("~/Scripts/Index.js")" type="text/javascript"></script>

@ko.Apply(Model)